#container {
    text-align: center;
    border: solid lightgrey 1px;
    width: 1000px;
    border-radius: 5px;
}

h1 {
    background-color: #28345c;
    font-size: 60px;
    color: white;
    height: 200px;
    width: 1000px;
    text-align: center;
    margin: 0px;
    padding-top: 50px;

}

#searchParams {
    background-color: #f8f8f8;
    border: #28345c;
    font-weight: bolder;
}
